/* General body styling */
html, body {
    height: 100%;
    background: #f8f8f8;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-size: 2em;
}

h2 {
    margin: 0;
    font-size: 2em;
}


/* Message styling */
.message {
    padding: 1.2em;
    margin-bottom: 1.5em;
    border-radius: 5px;
    font-size: 1.1em;
}

.message.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.message.error {
    background-color: #f2dede;
    color: #a94442;
}

/* Centering content */
.centered-content, 
.centered-content th, 
.centered-text, 
.centered-text th {
    text-align: center;
}

/* Buttons Section - Keep buttons and length dropdown aligned in the same row */
.row.mb-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Footer styling */
footer.footer {
    background-color: #333;
    color: white;
    padding: 1.5em 0;
    text-align: right;
    width: 100%;
    margin-top: auto;
}

footer.footer a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: right;
}

footer.footer a:hover {
    text-decoration: underline;
}

/* Add spacing between the links */
footer.footer .mx-2 {
    margin-left: 10px;
    margin-right: 10px;
}

/* Flexbox to align the links properly in a row */
footer.footer .d-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
    color: black;
}

.modal-content {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
    padding: 15px;
}

.modal-title {
    font-weight: bold;
    font-size: 1.5em;
}

.modal-body {
    padding: 20px;
    background-color: #f8f9fa;
    color: black;
}

.modal-footer {
    background-color: white;
    border-top: none;
    padding: 10px 20px;
    text-align: right;
}

.modal-footer .btn {
    padding: 10px 20px;
    border-radius: 5px;
}

/* Primary button for the modal */
.modal-footer .btn-primary {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Control column drag popup sizes */
.modal-dialog .list-group-item {
    width: 100px; /* Match the column size in the table */
    white-space: nowrap; /* Prevent wrapping in column chooser */
}

/* Ensure select boxes have enough room for multiple selections */
select.form-control {
    height: auto;
    min-height: 30px;
    width: 100%;
    padding: 5px;
    background-color: white;
    color: #003366;
    font-size: 0.8em;
    white-space: normal;
    word-wrap: break-word;
}

select.form-control option[disabled] {
    color: gray;
}


/* Secondary button for the modal */
.modal-footer .btn-secondary {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
}

.modal-footer .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

/* Modal close button styling */
.modal-header .close {
    color: white;
    font-size: 1.5em;
    opacity: 1;
}

.modal-header .close:hover {
    color: #d4d4d4;
}

/* Normal button background color */
button, th {
    background-color: #B9D9EB;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

/* Hover state */
th:hover {
    background-color: #ADD8E6;
    color: white;
}

/* Custom button color */
#refreshTable, #chooseColumns, #downloadButton {
    background-color: white;
    color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

#refreshTable:hover, 
#chooseColumns:hover, 
#downloadButton:hover {
    background-color: #ADD8E6;
    border-color: #0056b3;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    table, th, td {
        font-size: 0.8em;
        padding: 10px;
    }

    .order-management-container {
        padding: 0.8em;
    }

    .row.mb-3 {
        flex-direction: column;
        align-items: flex-start;
    }

    thead input[type="text"], 
    thead select {
        font-size: 0.7em;
        padding: 4px;
        height: 28px;
    }

    .form-control {
        font-size: 0.7em;
        padding: 4px;
        height: 28px;
    }
}

@media screen and (max-width: 480px) {
    table, th, td {
        font-size: 0.75em;
        padding: 8px;
    }

    input[type="text"], select {
        margin-bottom: 10px;
        width: 100%;
    }

    button {
        width: 100%;
    }
}
